*{

margin: 0%;
padding: 0%;
box-sizing: border-box;

}

/* Body trasparanti */
body{
    background-image:url('./pic/MOON-CARTOON.jpg') ;
    background-size: cover;
height: 100vh;
    background-position: center;
display: flex;
align-items: center;
justify-content: center;

}
body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color:rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.1a);
backdrop-filter: blur(4px);
}
